<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [mode]="'side'"
      [opened]="true">
    <mat-toolbar>Veterinaria</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
        <mat-icon>home</mat-icon>
        <span>Inicio</span>
      </a>
      <a mat-list-item routerLink="/pacientes" routerLinkActive="active">
        <mat-icon>pets</mat-icon>
        <span>Pacientes</span>
      </a>
      <a mat-list-item routerLink="/configuracion" routerLinkActive="active">
        <mat-icon>settings</mat-icon>
        <span>Configuración</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" style="display: flex; align-items: center;">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon style="font-size: 32px; vertical-align: middle;">menu</mat-icon>
      </button>
      <span style="font-size: 32px; vertical-align: middle; margin-left: 8px;">Veterinaria</span>
      <span class="toolbar-spacer"></span>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container> 